*{
    margin: 0;
    padding: 0;
}


.br1{
    display: none;
}


.hero{
    width: 100%;
    height: 100vh;
    background-image: url(img/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 100px;
    cursor: pointer;
}

.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    padding: 30px;
    align-items: center;
}


button{
    color: white;
    font-size: 20px;
    outline: none;
    padding: 10px 25px;
    background:#582e46;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}

button:hover{
    -webkit-transform: rotate(50deg); /* Safari */
    transform: rotate(5deg);
    color: black;
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: 3px 7px 14px 7px black;
}

.b1{
    margin-left: 30px;
}

h1{
    color: white;
    font-family: cursive;
    font-size: 80px;
    margin: 0px 0 250px 100px;
    text-shadow: 8px 6px 9px #000000;
}

.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}


.side-bar{
    width: 50px;
    height: 100vh;
    background: linear-gradient(#3f2a49, #582e46);
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: -12px 0px 20px 0px black
}

.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}

.social-links img, .useful-links img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}

.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 50px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
    width: 45;
    height: 60;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 30px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 65px;
}


@media only screen and (max-width: 500px){
    .logo{
        width: 40px;
    }
    button{
        font-size: 12px;
        margin: 4px 0px 0px 0px;
        padding: 6px 12px 6px 12px;
      }

    .br1{
        display: unset;
    }

    .b1 {
        margin: 0px 8px 0px 0px;
        padding: 2px 10px 2px 10px;
    }

    h1{
        margin: 20px 0px 60px 0px;
        font-size: 30px;
    }
    .side-bar{
        width: 30px;
    }
    .social-links{
        width: 30px;
    }
    .useful-links{
        width: 30px;
    }

    .bubbles img:nth-child(1){
        width: 25px;
        animation-delay: 2s;
    }
    .bubbles img:nth-child(2){
        width: 30px;
        animation-delay: 1s;
    }
    .bubbles img:nth-child(3){
        width: 17px;
        animation-delay: 2.8s;
    }
    .bubbles img:nth-child(4){
        width: 20px;
        animation-delay: 4s;
    }
    .bubbles img:nth-child(5){
        width: 22px;
        height: 30px;
        animation-delay: 3s;
    }
    .bubbles img:nth-child(6){
        width: 16px;
        animation-delay: 7s;
    }
    .bubbles img:nth-child(7){
        width: 32px;
        animation-delay: 6s;
    }
}